<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hospital.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.hospital.entity.User">
        <id column="u_id" property="userId" jdbcType="BIGINT"/>
        <result column="u_name" property="userName" jdbcType="VARCHAR"/>
        <result column="u_sex" property="userSex" jdbcType="INTEGER"/>
        <result column="u_age" property="userAge" jdbcType="INTEGER"/>
        <result column="u_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="u_nickname" property="userNickName" jdbcType="VARCHAR"/>
        <result column="u_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="u_type" property="userType" jdbcType="INTEGER"/>
        <result column="u_status" property="userStatus" jdbcType="INTEGER"/>
        <result column="u_createdate" property="userCreateDate" jdbcType="TIMESTAMP"/>
        <result column="d_id" property="userDeploymentId" jdbcType="VARCHAR"/>
    </resultMap>
    
    <resultMap id="userVoResultMap" type="com.hospital.entity.UserVO">
        <id column="u_id" property="userId" jdbcType="BIGINT"/>
        <result column="u_name" property="userName" jdbcType="VARCHAR"/>
        <result column="u_sex" property="userSex" jdbcType="INTEGER"/>
        <result column="u_age" property="userAge" jdbcType="INTEGER"/>
        <result column="u_phone" property="userPhone" jdbcType="VARCHAR"/>
        <result column="u_nickname" property="userNickName" jdbcType="VARCHAR"/>
        <result column="u_password" property="userPassword" jdbcType="VARCHAR"/>
        <result column="u_type" property="userType" jdbcType="INTEGER"/>
        <result column="u_status" property="userStatus" jdbcType="INTEGER"/>
        <result column="u_createdate" property="userCreateDate" jdbcType="TIMESTAMP"/>
        <result column="d_id" property="userDeploymentId" jdbcType="VARCHAR"/>

        <result column="deploymentName" property="deploymentName" jdbcType="VARCHAR"/>
        <collection property="rolesList" ofType="com.hospital.entity.Role">
            <id column="r_id" property="rId"/>
            <result column="r_name" property="rName"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        u_id, u_name, u_sex, u_age, u_phone, u_nickname, u_password, u_type, u_status, u_createdate, d_id
    </sql>

    <!--获取user集合-->
    <select id="getAllUser" resultType="com.hospital.entity.User" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ht_user
    </select>

    <!--根据nickName获取数据信息-->
    <select id="getUserByNickName" resultType="com.hospital.entity.User" resultMap="BaseResultMap">
        SELECT * FROM ht_user WHERE u_nickname = #{u_nickname}
    </select>

    <select id="findUserById" resultMap="BaseResultMap" resultType="com.hospital.entity.User">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ht_user
        WHERE u_id = #{u_id}
    </select>
    <!--BINARY 区分大小写-->
    <select id="findUserByLoginName" resultMap="BaseResultMap" parameterType="java.lang.String">
        SELECT
        <include refid="Base_Column_List"/>
        FROM ht_user
        WHERE BINARY u_nickname = #{u_nickName}
    </select>


</mapper>